.container {
  max-width: 42rem;
  margin: 0 auto;
}

.previewButton {
  width: 100%;
  padding: 1rem;
  border-radius: 4px;
  background: #f8f8f8;
  color: var(--background);
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}
