.banner {
  width: 100%;
  height: 25rem;

  object-fit: cover;

  margin-bottom: 5rem;
}

.post {
  h1 {
    font-size: 3rem;
    font-weight: 900;
  }

  small {
    display: block;
    margin-top: 1.1rem;
  }

  div {
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;

    time,
    span {
      display: flex;
      align-items: center;
      font-size: 1rem;
      color: var(--body);

      svg {
        font-size: 1rem;
        margin-right: 0.6rem;
      }
    }
  }

  .content {
    margin-top: 2rem;

    line-height: 2rem;
    font-size: 1.125rem;
    color: var(--body);

    section,
    p,
    ul {
      margin: 2rem 0;
    }

    ul {
      padding-left: 1.5rem;

      li {
        margin: 0.5rem 0;
      }
    }
  }
}

.sidePosts {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 2rem;
  margin-bottom: 5rem;

  border-top: 1px solid rgba(215, 215, 215, 0.1);
  padding-top: 3rem;

  div {
    a {
      font-weight: 600;
      color: var(--highlight);
    }

    span {
      display: block;
      margin-bottom: 0.5rem;
    }
  }

  .nextPost {
    text-align: right;
  }
}
